* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #ababab;
}

.app-container {
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  flex: 1 auto;
  align-self: center;
  background-color: #7f7e7e;
  color: #ebe4e4;
  padding: 1rem;
  border-bottom: 1px solid #444;
  z-index: 1000; /* High z-index to keep it above other content */
}

.header h1 {
  font-size: 1.8rem;
  text-align: center;
  margin: 0;
}

.content {
  padding-top: 0px; /* Adjust this value based on the actual height of your header */
}

.category-buttons {
  align-self: center;
  margin-top: 20px; /* Adjust this value as needed */
  padding: 10px;
}

.category-buttons button {
  margin: 5px;
  padding: 8px 16px;
}